**/RobotPdMDataset/
RobotPdMDataset/
*.mat
from_killian/
**/original_failure_simulation_data
**/RobotPdMDataset_Testing/
**/Real_test_data/
**/slprj/
**/**.slxc
collection/
Real_test_data_1/
**/training_dataset/
**/invesigation/
**/testing_dataset/
dataset/